.place__title {
  width: 460px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: calc((100vw - 48px - 28px)/2);
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0 16px;
  }
}
