.place__paragraph {
  max-width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}

.place__paragraph:nth-of-type(2){
  margin: 26px 0 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph {
    max-width: calc((100vw - 48px - 28px)/2);
    font-size: 18px;
  }
}  

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    max-width: 100%;
    margin: 0 16px 0 16px;
  }
  .place__paragraph:first-child {
    margin-top: 32px;
  }
  .place__paragraph:nth-of-type(2){
    margin: 25px 16px 0 16px;
  }
}