.cover {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
}

.cover::before {
  content: "";
  background-color: #2A2C2F;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .3;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-height: 640px;
  }
}
