.cover {
  position: relative;   
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.cover::before {
  content: "";
  background-image: url(/images/cover-trains.jpg);  
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .8;
}

.cover:hover::before {
  opacity: .3;
}
