.place__link {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: 0.5;
  cursor: pointer;
}