.page__lead {
  margin: 64px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .page__lead {
    margin: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__lead {
    margin: 48px 0 0 0;
  }
}
