.page__places {
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .page__places {
    margin: 0 48px 90px 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__places {
    margin: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 425px) {
  .page__places {
    margin: 0;
  }
}
